
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    
}
.cards{
    background: url(./images/bg-main-mobile.png);
    background-size: cover;
    width: 100%;
    height: 225px;
    
}
#bg-card{
    display: flex;
    flex-direction: column-reverse;
}
.radius{
    border-radius: 6px;
}

/* card front */
#card1{
    background: url(./images/bg-card-front.png);
    background-size: cover;
    -webkit-box-shadow: 15px 40px 62px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 15px 40px 62px 0px rgba(0,0,0,0.42);
    box-shadow: 15px 40px 62px 0px rgba(0,0,0,0.42);
    transform: translateY(-37px);
    width: 290px;
    height: 160px;
    z-index: 1;
    margin-left: 10%;
    padding: 17px;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

#card1 img{
    width: 60px;
    margin-bottom: 35px;
}
#card1 div{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    
}
/* card back */
#card2{
    background: url(./images/bg-card-back.png);
    background-size: cover;
    -webkit-box-shadow: 15px 40px 62px -17px rgba(0,0,0,0.33);
    -moz-box-shadow: 15px 40px 62px -17px rgba(0,0,0,0.33);
    box-shadow: 15px 40px 62px -17px rgba(0,0,0,0.33);
    width: 290px;
    height: 160px;
    transform: translateY(28px);
    margin-left: 18%;
    color: white;
    font-size: 9px;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 350px;
    font-size: 15px;
}
.formulario input{
    width: 350px;
    height: 40px;
    border-style: none;
    border: 1px solid;
    border-radius: 8px;
    border-color: hsla(278, 93%, 30%, 0.137);
    padding: 13px;
    margin-top: 5px;
    font-size: 16px;
}
.formulario label{
    font-size: 15px;
}
form div{
    margin-bottom: 15px;
}
form input::placeholder{
    color: rgba(128, 128, 128, 0.493);
}
form input:focus{
    outline-style: solid;
    outline-color: hsl(278, 94%, 30%);
}
.inputError{
    outline-style: solid !important;
    outline-color: hsl(0, 100%, 66%) !important;
    outline-width: 0.5px;
}
#form p{
    color:hsl(0, 100%, 66%);
    font-size: 12px;
    margin-top: 5px;
}
form div label{
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
#month, #year{
    width: 70px;
}

#cvc{
   width: 180px; 
   margin-left: -15px;
}

.inputs{
    display: flex;
    flex-direction: row;
}
#year{
    margin-right: 30px;
}
form button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 30px;
    border: none;
    width: 350px;
}
.hidden{
    display: none !important;
}
#menu button{
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    width: 85%;
    margin-bottom: 40px;
}
#menu{
    width: 350px;
    margin-left: 10%;
}

#listTable{
    width: 100%;
    align-self: center;
    justify-self: flex-end;
    
}
#listTable table{
    width: 85%;
    text-align: left;
    border-collapse: collapse;
}
table thead{
    height: 30px;
    background-color: hsl(278, 68%, 11%);
    color: white;
}
table th, td{
    padding: 10px;
    border: solid 1px;
}
#btnAdd{
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: transparent;
    border-style: none;
}
.delete{
    background-color: hsl(0, 100%, 66%);
    width: 22px;
    height: 22px;
    border: 1px solid; 
    padding-bottom: 2px;
}
#complete{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#complete h1{
    margin-top: 38px;
    width: 300px;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
}
#complete p{
    letter-spacing: 0.5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.548);
    margin-top: 20px;
}
#complete button{
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    width: 370px;
    margin-top: 50px;
}
@media (min-width: 800px) {
    body{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    .cards{
        background: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 40%;
    }
    #bg-card{
        flex-direction: column;
        transform: translateX(150px);
        margin-top: 200px;
    }
    #card1{
        width: 320px;
        height: 175px;
        font-size: 20px;
        padding: 20px;
    }
    #card-number{
        letter-spacing: 3px;
    }
    #card1 div{
        margin-top: 20px;
        font-size: 11px;
        font-weight: lighter;
    }
    #card2{
        transform: translateX(30px);
        font-size: 12px;
        width: 320px;
        height: 175px;
        padding-right: 40px;
    }
    .formulario{
       transform: translateY(30px);
    }
    .formulario form label{
        font-size: 10px;
    }
    .formulario button{
        margin-top: -10px;
    }
    #menu{
        display: flex;
        flex-direction: column;
    }
   #listTable{
    width: 500px;
    transform: translatex(100px);
   }
}